@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

.relative {
    width: 100%;
    height: 100vh;
    font-family: 'Tangerine', serif;
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8)),
        url('./warfare.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.absolute {
    width: 60%;
    height: 60%;
    font-family: 'Tangerine', serif;
    font-size: 25px;
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.8)),
        url('./tolkien.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    color: white;
}